@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header {
  display: flex;
  align-items: center;
  text-align: center;
}

header h1 {
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  line-height: 3px;
  letter-spacing: 2px;
  color: grey;
}

header img {
  margin-right: auto;
}